     <ul>
     <%@user.each do |u| %>
     <% u.friends.each do |f|%>
        <li>
          <%= u.friend.username %>
          <%= link_to "Unfriend", f, :method => :delete %>
        </li>
        <%end%>
                  <%end%>
    </ul>
